@model View_Flow.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>ID -</td>
                <td>@Model.id</td>
            </tr>
            <tr>
                <td>Name -</td>
                <td>@Model.name</td>
            </tr>
            <tr>
                <td>Designation -</td>
                <td>@Model.designation</td>
            </tr>


        </table>
    </div>
</body>
</html>
